<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">About Us</a>          </h2>
          <p>Panama Mentors is website that will help you to start planning your career. We offer you the tools you need to succeed.
            Mentorship sessions, conferences, interesting readings, you will have all this once you are part of Panama Mentors.
            We are all once in a situation in which we wanted to get all the help we needed to guide our professional career: having someone to
            tell us more about the job industry, how to balance our strengths with our skills to choose the best career. All these resources are going
            to be provided by Panama Mentors. We will network you with professionals that will volunteer their time so you can see what they do, how they do it,
            and this will provide you with the insights of what you will like to do for your rest of your life. Start building your future with us!
          </p>
      <%= link_to 'Back to Home', root_path %>
    </div>

    <div class="post"></div>
  </div>
</div>


