<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title">Articles</a></h2>
          <a href="http://money.usnews.com/money/blogs/outside-voices-careers/2010/12/06/how-to-choose-a-career-thats-best-for-you">
            How to choose your career</a>
       <p></p>
      <a href="http://mappingyourfuture.org/planyourcareer/plan.htm">
        Develop your career plan</a>

      <p></p>
      <a href="http://money.usnews.com/money/careers/articles/2012/12/18/the-best-jobs-of-2013">
        The best jobs of 2013</a>
      <p></p>
      <a href="http://careerplanning.about.com/od/careerchoicechan/tp/Career-Choice.htm">
        Making a career plan</a>
      <p></p>


      <a href="http://www.forbes.com/sites/elenabajic/2013/09/03/how-a-mentor-can-help-your-career/">
        How a mentor can help your career</a>
      <p></p


      <%= link_to 'Back to Home', root_path %>
    </div>
    <div class="post"></div>
  </div>
</div>

