<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title">Conferences</a>          </h2>
          Technology Confernce will be held on October 3rd in XYZ Place at 9:00 a.m.
    </div>
    <div class="post"></div>
  </div>
</div>

