<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title">Conferences</a>          </h2>
        <h4>COM Technology Conference<h4>

        <strong>Where:</strong>Sheraton Hotels, ABC Avenue
          <br></br>
        <strong>When:</strong>October 3- October 5, 2013, 8:00 a.m. - 5:00 p.m.
          <br></br>
          <strong>Guest Mentor:</strong>Steve Gates
          <br></br>
          <br></br>

           <h4>First General Mentorship Session<h4>
             <strong>Where:</strong>Sheraton Hotels, ABC Avenue
             <br></br>
             <strong>When:</strong>December 4, 2013, 8:00 a.m. - 5:00 p.m.
             <br></br>
             <strong>Guest Mentor:</strong>Steve Gates

    <%= link_to 'Back to Home', root_path %>
    </div>
    <div class="post"></div>
  </div>
</div>

