<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">Contact Us</a></h2>
          <p>Panama Mentors</p>
          <p>Address #123, United States</p>
          <p>Phone: 567-980-9098</p>
          <p>email: mentors@panamamentors.com</p>
<br></br>
      <%= link_to 'Back to Home', root_path %>
    </div>
    <div class="post"></div>
  </div>
</div>
