<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">Help - FAQ</a></h2>
          <p></p>
          <p><strong>1. What is Panama Mentors?</p></strong>
          <p>Panama Mentors is a program that will help you build your future career. It is designed to offer you all the tools you need to search
            and choose the most suitable program for you. You will receive assistance from a mentor, who will guide you in this process.</p>
          <p></p>
          <p><strong>2. What resources will be available for me?</p></strong>
          <p>The resources available to you include: conferences, mentorship sessions, and a lot of information. </p>
          <p></p>
          <p><strong>3. Do I need to be a student to create an account? </p></strong>
          <p>No, you don't need to be a student. The only requirement is that you wish to grow professionally.</p>
          <p></p>
          <p><strong>4. How many mentor can I network with?</p> </strong>
          <p>You can only network with one mentor at a time.</p>
    </div>
    <div class="post"></div>
  </div>
</div>